@media (min-width: 768px) {
  section {
      padding: 150px 0;
  }
}
section {
    padding: 100px 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #171b23;
  /* height: 70px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.slider {
  width: 800px;
  overflow: hidden;
  height: 400px;
  box-shadow: -1px 4px 30px 3px rgba(76,81,104,.2);
}


.slider .slider-ele {
  height: 400px;
  display: flex !important;
  flex-direction: row;
}

.slider .slider-ele > div {
  height: 100%;
  width: 50%;
  background-color: white;
}

.slider .slider-ele > div:nth-of-type(2) {
  background-color: #282c34;
}

.slick-dots {
  top: 10px;
  left: 10px;
  width: initial;

}

.slick-dots li button::before {
  width: 40px;
  height: 40px;
  font-size: 15px;
  /* color: white; */
  /* box-shadow: -1px 4px 30px 3px rgba(76,81,104,.2); */
}

.slick-dots li.slick-active button:before  {
  color: #E85B46;
  opacity: 1;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.min-width-100 {
  min-width: 100%;
}

.cover {
  min-width: 100%;
  min-height: 100%;
}

.d-flex {
  display: flex;
}


.grow-1 {
  flex-grow: 1;
}